@import "./../../../css-config/mixins.scss";

.testimonial {

    background-color: rgb(228, 229, 228);




    .card {

        width: fit-content;
        // box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
        margin: 0 auto;
        height: fit-content;
        // background-color: white;
        border-radius: 40px;



        h1 {
            font-size: 2rem;
            padding: 10px;
            color: rgba(0, 0, 0, 0.9);


        }

        .card_inside {
            display: flex;

            @include md {
                flex-direction: row;
            }

            flex-direction: column;
            gap: 20px;
            padding: 20px;
            justify-content: center;
            align-items: center;

            .small_card {
                width: 240px;
                padding: 7px;
                height: 250px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                justify-items: center;

                gap: 10px;
                background: #eee;
                box-shadow: 0 0 6px 6px rgba(0, 0, 255, 0.3);
                border-radius: 10px;
                text-align: center;
                font-size: 15px;
                text-transform: capitalize;

                h1 {
                    font-size: 16px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    text-align: center;
                    text-transform: uppercase;

                }


            }
        }
    }
}